{
    "title": "Article title",
    "description": "Article description",
    "author": "Your username",
    "date": "yyyy-mm-dd",
    "tags": [
        "x",
        "y"
    ],
    "imageAlt": "Image description, e.g. 'trees in forest'",
    "photographerUrl": "https://johndoe.com/photos",
    "photographerName": "John Doe",
    "articleFile": "filename.md",
    "keywords": "x,y"
}