body {
    background: #131516;
    color: #d8d4cf;
    font-family: 'Work Sans', sans-serif;
    text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6, legend {
    color: #e8e6e3;
    font-family: 'Space Mono', monospace;
}

a {
    color: #3571a5;
    text-decoration: none;
}

.article-container, .content {
    text-transform: none;
}

.exempt {
    text-transform: none;
}

.book-title {
    font-style: italic;
}

.text-gold {
    color: #b9aa4c;
}

.navbar {
    font-family: 'Space Mono', monospace;
}

.site-header .navbar-nav .nav-link {
    color: #e8e6e3;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

[contenteditable] {
    outline: 0px solid transparent;
    display: inline-block;
}

pre code#editor-block {
    color: #d8d4cf;
}

blockquote { 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    padding-left: 1em;
    border-left: 5px solid #444444;
    font-style: italic;
}

blockquote p em {
    font-style: normal;
}

#main {
    margin-top: 2rem;
}

.dropdown-item {
    background: #131516;
    color: #d8d4cf;
}

.dropdown-menu {
    background: #131516;
    color: #d8d4cf;
    border: 1px solid #d8d4cf;
}

.btn-outline-primary {
    color: #b9aa4c;
    border-color: #b9aa4c;
}

.btn-outline-primary:focus, .btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem #b9aa4c7c;
}

.btn-outline-primary:active, .btn-outline-primary:hover {
    color: inherit;
    background-color: #b9aa4c;
    border-color: #b9aa4c;
}