{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div>
        <br>
        <form action="/posts/edit" method="POST" class="row" id="edit_search" name="edit_search">
            <div class="col"></div>
            <div class="col-12">
                <input type="text" class="form-control" id="search" name="search" placeholder="Title Search" required>
                <br>
                <div id="search-results">
                </div>
            </div>
            <div class="col"></div>
        </form>
    </div>
</div>
{% endblock content %}

{% block right_side_content %}

<div>
    Edit Mode: <span id="edit-mode">Content</span>
    <button class="btn btn-outline-primary" id="toggle-mode">Toggle</button>
</div>
{% endblock right_side_content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        const editMode = document.getElementById("edit-mode");
        const toggle = document.querySelector("#toggle-mode");

        const posts = JSON.parse(`{{ posts|safe }}`);
        const input = document.querySelector("input");
        const searchResults = document.getElementById("search-results");
        let postMatch = posts;
        
        updateResults();
        input.addEventListener("input", updateSearch);
        toggle.addEventListener("click", toggleMode);

        function toggleMode() {
            if (editMode.innerText.toLowerCase() == 'content') {
                editMode.innerText = 'Info'
            } else {
                editMode.innerText = 'Content'
            };
            updateResults();
        };

        function updateSearch(e) {
            postMatch = posts.filter(post => post.title.toLowerCase().startsWith(e.target.value.toLowerCase()));
            updateResults();
        };

        function updateResults() {
            let fragment = document.createDocumentFragment();
            searchResults.innerHTML = "";
            postMatch.forEach(function(post) {
                let a = document.createElement("a");
                a.textContent = post.title;
                a.href = `/posts/edit/${post.id}`;
                if (editMode.innerText.toLowerCase() == 'info') {
                    a.href = `/posts/edit/${post.id}/info`
                };
                a.className = "dropdown-item";
                fragment.appendChild(a);
            });
            searchResults.appendChild(fragment);
        };
    });
</script>
{% endblock scripts %}