{% extends "post.html" %}

{% block content %}
{{ super() }}
{% endblock content %}

{% block article %}
<div id="editable-article-content" class="editable-article-content">
    {{ super() }}
</div>
{% endblock article %}

{% block right_side_content %}
<div class="btn-group-vertical btn-group-sm position-fixed" id="editor-submit" role="group" aria-label="Editor button group">
    <button class="btn btn-outline-primary" id="start-edit">Edit Article</button>
    <button class="btn btn-outline-primary" id="submit-edit">Submit Changes</button>
    <button class="btn btn-outline-primary" id="commit-article">Finish</button>
</div>
{% endblock right_side_content %}

{% block scripts %}
<input type="hidden" id="tmpId" value="{{ tmp_id }}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block editScripts %}
        <script src="{{ url_for('static', path='/src/edit.js') }}"></script>
    {% endblock editScripts%}
{{ super() }}
{% endblock scripts %}