{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Your Account</legend>
                <div class="form-group">
                    {{ form.username.title(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.email.title(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}